<html>
  {% include 'head.html' %}
  
<body>
  {% include 'header.html' %}
  <div class="container">
	  <center>
      <h1>Problems</h1>
    </center>
	  <center>
      <h5>
      Your location is {{user_lati}} , {{user_long}}<br>  
      If you don't know what the problem is ,check on "I don't know". We'll look after the rest for you </h5>
    </center>
	  <center>
      <h6>Please check on any one of them.If your problem is not any of these,you can write in the additional problems area below.
      </h6>
    </center>
  </div>
  <center>	
    <div class="radio">
      <label>
        <input type="radio" name="optionsRadios" id="optionsRadios0" value="option1" checked>
        I don't know
      </label>
    </div>
    <div class="radio">
    <label>
      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option2">
    Problem 0
    </label>
    </div>	
  </center>  
<center>
  <div class="col-md-offset-2 col-xs-offset-2 col-sm-offset-2">
    <div class="col-md-10 col-xs-10 col-sm-10">
      <textarea class="form-control" rows="2" placeholder="Any additional info">
      </textarea>
    </div>
  </div>
</center>
<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
<center><a href="/search/mechanics/"<button class="btn btn-primary" id="search-mechanics">SEARCH MECHANICS</button></a></center>
</div>
</body>
</html>