<html>
  {% include 'head.html' %}
  
<body>
  {% include 'header.html' %}
  <div class="container">
	  <center>
      <h1>Problems</h1>
    </center>
	  <center>
      <h5>
      Your location is {{user_lati}} , {{user_long}}<br>  
      If you don't know what the problem is ,check on "I don't know". We'll look after the rest for you </h5>
    </center>
	  <center>
      <h6>Please check on any one of them.If your problem is not any of these,you can write in the additional problems area below.
      </h6>
    </center>
  </div>
  {{form.as_p}}
<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
<center><a href="/search/mechanics/"<button class="btn btn-primary" id="search-mechanics">SEARCH MECHANICS</button></a></center>
</div>
</body>
</html>