{% load staticfiles %}
<html>
	<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" content="width=620">
	<link rel="stylesheet" type="text/css" href="{% static 'hm/css/bootstrap.min.css'%}" />
	<link rel="stylesheet" type="text/css" href="{% static 'hm/css/style.css'%}">	
	<link rel="stylesheet" type="text/css" href="{% static 'hm/css/font-awesome.min.css'%}">
	<script src="{% static 'hm/js/jquery.min.js' %}"></script>
	<script src="{% static 'hm/js/bootstrap.min.js' %}"></script>

	</head>
	<body>
		{% include 'header.html' %}
		{% if no_mechanics %}		
			<center>
				<p class="text-info"><span class="text-mess">Sorry, There are no mechanics in around 5km at your location</span></p>
			</center>
		{% endif %}
		{% if not no_mechanics %}
			
			
			<div class="col-xs-offset-1 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
			{% for mechanic in mechanics %}
				<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
					<div class="mech-wrap">
						<span class="mech-name">{{ mechanic.name }}</span>
						<span class="mech-dist">At a distance : {{mechanic.distance | floatformat:"-3" }} kms</span>
						<span class="mech-mob">Mobile: {{ mechanic.mobile }}</span>	
					</div>
				</div>	
			{% endfor %}
			</div>
			
		{%endif%}	
	</body>		
</html>
