{% load staticfiles %}
<html>
	<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" content="width=620">
	<link rel="stylesheet" type="text/css" href="{% static 'hm/css/bootstrap.min.css'%}" />
	<link rel="stylesheet" type="text/css" href="{% static 'hm/css/style.css'%}">	
	<link rel="stylesheet" type="text/css" href="{% static 'hm/css/font-awesome.min.css'%}">
	<script src="{% static 'hm/js/jquery.min.js' %}"></script>
	<script src="{% static 'hm/js/bootstrap.min.js' %}"></script>

	</head>
	<body>
		{% include 'header.html' %}
		{% if no_mechanics %}		
			<center>
				<p class="text-info">Sorry, There are no mechanics in around 5km at your location</p>
			</center>
		{% endif %}
		{% if not no_mechanics %}
			<center>
			<ol>
			{% for mech in mechanics %}
				<li>{{ mech.get_username }}	
			{% endfor %}
			</ol>
			</center>
		{%endif%}	
	</body>		
</html>
